{% extends 'bs_main.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block content %}

    <div id="main_content">
    <div class="container text-center gap-2 pt-4 col-lg-5">

    <div style="display: grid;overflow-x: auto;" id="ui-grn" class="text-center gap-2"><h3 class="pt-2 gap-2" style="height: 50px;">Featured Courses</h3>


                    <div class="container gap-3" style="display: grid; grid-auto-flow: column; grid-auto-columns: 42%; overflow-x: auto;">
                        {% for course in courses %}
                            {% if course.featured == 1 %}
                                <a style="text-decoration: none;" href="/mygrimoire/courses/{{ course.id }}/start">
                        <div class="card" style="background-color: #F3F3CD; width: 12rem; margin-bottom: 10px; border-radius: 25px">
                            <img style="border-radius: 25px" src="{{ MEDIA_URL }}{{ course.image.url }}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h4 style="color: #091D12; font-family: 'IM FELL DW Pica'">{{ course.title}}</h4>
                                </div>
                        </div>
                                </a>
                            {% endif %}
                        {% endfor %}


                    </div>

                </div>

    <br>

    <div style="display: grid;overflow-x: auto;" id="ui-grn" class="text-center gap-2"><h3 class="pt-2 gap-2" style="height: 50px;">All Courses</h3>


                    <div class="container gap-3" style="display: grid; grid-auto-flow: column; grid-auto-columns: 42%; overflow-x: auto;">
                        {% for course in courses %}
                            <a style="text-decoration: none;" href="/mygrimoire/courses/{{ course.id }}/start">
                        <div class="card" style="background-color: #F3F3CD; width: 12rem; margin-bottom: 10px; border-radius: 25px">
                            <img style="border-radius: 25px" src="{{ MEDIA_URL }}{{ course.image.url }}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h4 style="color: #091D12; font-family: 'IM FELL DW Pica'">{{ course.title}}</h4>
                                </div>
                        </div>
                            </a>
                        {% endfor %}

                    </div>

                </div>

<div class="container text-center pt-4">
    <img src="{% static 'myGrimoire/images/stars_group_two.svg' %}" alt="logo" style="width: 50px; height: 50px">
    </div>

    </div>

    </div>
    <div class="container text-center pt-4">
    <img src="{% static 'myGrimoire/images/stars_group_two.svg' %}" alt="logo" style="width: 50px; height: 50px">
    </div>
</div>

    <br>

{#    BOTTOM NAV BAR    #}


            <div id="bottom-bar" class="text-center fixed-bottom pt-3">
            <div class="row-cols-md-auto">
  <div class="row text-center">
    <div class="col">
        <a style="text-decoration: none;" href="/mygrimoire/main"><img style="width: 30px" src="{% static 'myGrimoire/images/icons/home.svg' %}" alt="logo"><p style="font-family: 'IM FELL DW Pica'; color:#F3F3CD">Home</p></a>
    </div>
    <div class="col">
        <a style="text-decoration: none;" href="/mygrimoire/courses"><img style="width: 25px" src="{% static 'myGrimoire/images/icons/cap-fill.svg' %}" alt="logo"><p style="font-family: 'IM FELL DW Pica'; color:#F3F3CD">Courses</p></a>
    </div>
    <div class="col">
      <a style="text-decoration: none;" href="/mygrimoire/readings"><img style="width: 25px" src="{% static 'myGrimoire/images/icons/book.svg' %}" alt="logo"><p style="font-family: 'IM FELL DW Pica'; color:#F3F3CD">Readings</p></a>
    </div>
      <div class="col">
      <a style="text-decoration: none;" href="/mygrimoire/you"><img style="width: 25px" src="{% static 'myGrimoire/images/icons/person-crop-circle.svg' %}" alt="logo"><p style="font-family: 'IM FELL DW Pica'; color:#F3F3CD">You</p></a>
    </div>
  </div>
</div>
</div>
</div>


    {#    END BOTTOM NAV BAR    #}


{% endblock %}