{% extends 'bs_main.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block content %}

    <div id="main_content">
    <div class="container col-lg-5 ">
            <div class="d-grid col-12 pt-4">
                <a id="ui-bar-grn" class="btn" style="--bs-btn-padding-y: .90rem; --bs-btn-padding-x: .10rem; font-size: 22px;" href="/mygrimoire/readings/all-tarot-cards" role="button">
                    <img src="{% static 'myGrimoire/images/meanings_text.svg' %}" alt="logo" style="width: 100px;">
                    <img src="{% static 'myGrimoire/images/cards_grn_fill.svg' %}" alt="logo" style="width: 100px; height: 100px; margin-left: 150px;">
                </a>
            </div>

            <div class="d-grid col-12 pt-3">
                <a id="ui-bar-grn" class="btn" style="--bs-btn-padding-y: .90rem; --bs-btn-padding-x: .10rem; font-size: 22px; " href="/mygrimoire/readings/spreads" role="button">
                    <img src="{% static 'myGrimoire/images/spreads_text.svg' %}" alt="logo" style="width: 130px;">
                    <img src="{% static 'myGrimoire/images/spread_grn_fill.svg' %}" alt="logo" style="width: 120px; height: 120px; margin-left: 100px;">
                </a>
            </div>

    <div class="container text-center pt-4">
    <img src="{% static 'myGrimoire/images/stars_group_two.svg' %}" alt="logo" style="width: 50px; height: 50px">
    </div>

    </div>
    </div>


{#    BOTTOM NAV BAR    #}


            <div id="bottom-bar" class="text-center fixed-bottom pt-3">
            <div class="row-cols-md-auto">
  <div class="row text-center">
    <div class="col">
        <a style="text-decoration: none;" href="/mygrimoire/main"><img style="width: 30px" src="{% static 'myGrimoire/images/icons/home.svg' %}" alt="logo"><p style="font-family: 'IM FELL DW Pica'; color:#F3F3CD">Home</p></a>
    </div>
    <div class="col">
        <a style="text-decoration: none;" href="/mygrimoire/courses"><img style="width: 25px" src="{% static 'myGrimoire/images/icons/cap.svg' %}" alt="logo"><p style="font-family: 'IM FELL DW Pica'; color:#F3F3CD">Courses</p></a>
    </div>
    <div class="col">
        <a style="text-decoration: none;" href="/mygrimoire/readings"><img style="width: 25px" src="{% static 'myGrimoire/images/icons/book-fill.svg' %}" alt="logo"><p style="font-family: 'IM FELL DW Pica'; color:#F3F3CD">Readings</p></a>
    </div>
      <div class="col">
      <a style="text-decoration: none;" href="/mygrimoire/you"><img style="width: 25px" src="{% static 'myGrimoire/images/icons/person-crop-circle.svg' %}" alt="logo"><p style="font-family: 'IM FELL DW Pica'; color:#F3F3CD">You</p></a>
    </div>
  </div>
</div>
</div>
</div>


    {#    END BOTTOM NAV BAR    #}

{% endblock %}