{% extends 'bs_main.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block content %}

    <br>
<div id="main_content">
    <div class="container text-center">
    <img src="{% static 'myGrimoire/images/user_icon.svg' %}" alt="logo">
    </div>


    <div class="container col-sm-6">
<div class="d-grid col-12 pt-4 align-content-center">
<h3 id="ui-bar-prpl" class="btn btn-mg" style="--bs-btn-padding-y: .90rem; --bs-btn-padding-x: .10rem;" disabled>

                <img src="{% static 'myGrimoire/images/stars_group_two_filled.svg' %}" alt="logo" style="width: 30px; height: 30px">

    <i> Hey, {{ user.first_name }} {{ user.last_name }}!</i></h3>
</div>
    </div>

    <div class="container col-sm-6">
<div class="d-grid col-12 align-content-center">
<h3 id="ui-bar-grn" class="btn btn-mg" style="--bs-btn-padding-y: .90rem; --bs-btn-padding-x: .10rem; " disabled>
    Account Preferences</h3>
</div>
    </div>

    <div class="container col-sm-6">
<div class="d-grid col-12 align-content-center">
<h3 id="ui-bar-grn" class="btn btn-mg" style="--bs-btn-padding-y: .90rem; --bs-btn-padding-x: .10rem;" disabled>
    App Preferences</h3>
</div>
    </div>

    <div class="container text-center pt-4 pb-5">
    <img src="{% static 'myGrimoire/images/stars_group_two.svg' %}" alt="logo" style="width: 50px; height: 50px">
    </div>

    <div style="margin-bottom: 100px" class="container fixed-bottom col-sm-6">
        <div class="text-center justify-content-center">
    </div>
    </div>


    <div style="" class="container col-sm-6">
<div class="d-grid gap-2 col-12 align-content-center">
<a id="ui-bar-grn" class="btn" href="/mygrimoire/logout" role="button" style="--bs-btn-padding-y: .90rem; --bs-btn-padding-x: .10rem; " role="button">Logout</a>
</div>
    </div>
</div>
    <br><br><br><br>

{#    BOTTOM NAV BAR    #}


            <div id="bottom-bar" class="text-center fixed-bottom pt-3">
            <div class="row-cols-md-auto">
  <div class="row text-center">
    <div class="col">
        <a style="text-decoration: none;" href="/mygrimoire/main"><img style="width: 30px" src="{% static 'myGrimoire/images/icons/home.svg' %}" alt="logo"><p style="font-family: 'IM FELL DW Pica'; color:#F3F3CD">Home</p></a>
    </div>
    <div class="col">
        <a style="text-decoration: none;" href="/mygrimoire/courses"><img style="width: 25px" src="{% static 'myGrimoire/images/icons/cap.svg' %}" alt="logo"><p style="font-family: 'IM FELL DW Pica'; color:#F3F3CD">Courses</p></a>
    </div>
    <div class="col">
        <a style="text-decoration: none;" href="/mygrimoire/readings"><img style="margin-bottom: 2px;width: 25px" src="{% static 'myGrimoire/images/icons/book.svg' %}" alt="logo"><p style="font-family: 'IM FELL DW Pica'; color:#F3F3CD">Readings</p></a>
    </div>
      <div class="col">
          <a style="text-decoration: none;" href="/mygrimoire/you"><img style="width: 25px" src="{% static 'myGrimoire/images/icons/person-crop-circle-fill.svg' %}" alt="logo"><p style="font-family: 'IM FELL DW Pica'; color:#F3F3CD">You</p></a>
    </div>
  </div>
</div>
</div>
</div>


    {#    END BOTTOM NAV BAR    #}

{% endblock %}